<html>
  <header>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="index.js">
    </script>
  </header>
  <div class="login-page">
    <div class="form">
      <div class="login-form">
        <button onclick="location.href='#{authURL}'">login by reddit</button>
        <label>*requires a reddit account </label>
        
      </div>
    </div>
  </div>
</html>
