<div>
  <ul style="list-style-type:none">
      <li><a href="http://localhost:4201">http://localhost:4201/</a></li>
      <li><a href="http://localhost:4201/reddit">http://localhost:4201/reddit</a></li>
      <li><a href="http://localhost:4201/reddit/getPost/evsqjhn">http://localhost:4201/reddit/getPost/evsqjhn</a></li>
      <li><a href="http://localhost:4201/reddit/getPost/c7bqbji">http://localhost:4201/reddit/getPost/c7bqbji</a></li>
      <li><a href="http://localhost:4201/reddit/refresh">http://localhost:4201/reddit/refresh</a></li>
  </ul>
</div>